
body {

    background-size: cover;
    background-image: url('./static/images/man.jpg');
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
     margin: 0;
        }
        .form-container {
            background-color: #fff;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            width: 80%;
            max-width: 500px;
             text-align: center;
         }

         .container {
             display: flex;
             justify-content: center;
             align-items: center;


         }