
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adding Books</title>
    <link rel="stylesheet" href="../static/css/sty.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body style="background-image: url(../static/images/man.jpg)">

<div class="container">
    <div class="form-container">
        <h2 class="text-center mb-4">Add a New Book</h2>
        <form th:action="@{/save_book}" th:object="${book}" method="post">
            <div class="form-group">
                <label style="font-weight:bold; margin-right:240px;" for="name">Book Name</label>
                <input type="text" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Enter Book Name" th:field="*{name}">

                <span style="color:red; "  th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>
            <div class="form-group">
                <label style="font-weight:bold; margin-right:240px;" for="author">Book Author</label>
                <input type="text" class="form-control" id="author" aria-describedby="authorHelp" placeholder="Enter Author Name" th:field="*{author}">

                <span style="color:red;" th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block">Submit</button>
        </form>
    </div>
</div>
</body>
</html>
